/target/
target/
.gitignore
.sts4-cache/
.settings
.classpath
.factorypath
.project
.idea
.springBeans
*.iml
*.cmd
pom.xml
.DS_Store
hs_err_*.log
~$*.xlsx
.vs/
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
